html{
    font-style: oblique;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.masteri{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*Aca termina Header*/


header{
    min-height: 10vh;
    background-color: bisque;
    padding: 10px;
}
.logocontain{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
}
.barnav{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    /* display: flex;
    flex-direction: row;
    padding: 0px 4px;
    gap: 8px; */
    
}

.barnav a{
    text-decoration: none;
    color: brown;
    background-color:pink;
    cursor: pointer;
    font-size: 19px;
    border: 2px solid yellow;
    border-radius: 40px;
    box-shadow: 5px 5px 5px 0px ;
    text-align: center;
    font-weight: bolder;
    padding: 10px;
    
}

.logo{
    width: 40px;
    object-fit: cover;
}
/*Aca termina Header*/

main{
    flex-grow: 1;
    background-color: salmon;
}
h1{
    padding-top: 4px;
    text-align: center;
    font-size: 30px;
    width: 100%;
}
h2{
    text-align: center;
    width: 100%;
}

.containerimg{
    text-align: center;
    border: solid (223, 223, 9, 0.64) ;
    background-color: rgba(223, 223, 9, 0.64);
}

.banner{
    width: 200px;
    height: 200px;
    object-fit: cover;
    text-align: center;
    border-radius: 50%;
    
}

.containerdos{
    width: 100%;
    display: flex;
}

.secondcontainer{
    
    display: flex;
    flex-direction: column-reverse ;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 10px;
 }

.texto2{
    align-self: center;
    text-align: center;
    width: 80%;
}

.imagen1{
    object-fit: contain;
    width: 150px;
    border-radius: 20%;
    background-color: brown;    
    
}

/*Aca termina Main de Inicio*/
.father{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

}

.multiimagen{
    width: 150px;
    border-radius: 20%;
    /* margin-left: 20px; */
    object-fit: contain;
}

.textoimagen{
    text-align: center;
    vertical-align: text-bottom;
    padding: 0px;
    font-size: 20px;
    /* width: 600px; */
    /* margin: 50px; */

}

/*Aca termina Main de AboutUS*/

.imgcc{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgcontact{
    object-fit: contain;
    width: 300px;
    height: 300px;
    padding: 20px;
    border-radius: 20%;

}

.pcontact{
    font-size: 20px;
    font-style: oblique;
    text-align: center;
    
}

.datacontainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
   /*  margin-left: 230px; */
}
.datos{  
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    /* width: 100px;
    height: 100px;
    padding-right: 200px; */
    text-decoration: none;

}

/*Aca termina Main de Contact*/

.layout{
    margin-top: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.tabla, .filas, .celdap, .celdas{
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
}

.celdap, .celdas{
    width: 100% ;
    height: 100%;
}

.celdap{
    /* padding: 40px; */
    background-color: bisque ;
    font-size: 20px;
    font-weight: bold;
    
}

.celdas{
    background-color: coral;
}

/*Aca termina Main de Information*/

.mastercont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerlist{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 10px;

}

.imglist{
    width: 220px;
    height: 220px;
    border-radius: 40%;
    
}

.listtext1{ 
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    padding-left: 50px;
}


/*Aca termina Main de Benefitsandtips*/


.masterraffle{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    gap: 100px;
    
}

.formulario{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.textlabel{
    width: 100%;
}

.radios{
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
   
}

.msjbox{
    display: flex;
    flex-direction: column;
}
.check{
    display: flex;
    justify-content: space-around;    
  }

 .boton{
    width: 38%;
 } 

/*Aca termina El Main de Raffle*/


footer{
    min-height: 10vh;
    padding-top: 15px;
    background-color: coral;
    text-align: center;
}


/*Aca termina El Pie xD*/
